body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #2193b0, #6dd5ed);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    background: linear-gradient(to right, #6dd5ed, #2193b0);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#weather-container {
    text-align: center;
}

label {
    margin-right: 10px;
}

input {
    padding: 8px;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    background-color: #fff;
    color: #333;
    border: none;
    cursor: pointer;
}

#weather-info {
    margin-top: 20px;
}
